/* styles.css */

/* Estilos globais */
body {
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Estilos para o cabeçalho */
header {
  background-color: #ccc;
  padding: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 2px 4px #1093eb;
  border-bottom: 2px solid #1093eb;
}

header h1 {
  color: #1093eb;
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
  width: 100%;
}

header img {
  max-width: 150px;
  max-height: auto;
  margin-right: 20px;
}

/* Estilos para a classe container */
.container {
  display: flex;
  margin: 20px;
}

.left-panel {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.right-panel {
  width: 65%;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

.left-panel img {
  width: 400px;
  height: 200px;
}

.left-panel #tabela {
  width: 500px;
  height: 300px;
}

#tabela {
  margin-top: 15px;
}

.tabulator-cell {
  padding: 5px;
  border: 1px solid #ccc;
}

.tabulator-cell[data-field="meses"] {
  font-weight: bold;
  background-color: #f0f0f0;
}

div .tabulator-col.tabulator-sortable[data-field="meses"] {
  background-color: #1093EB;
  color: #333;
  font-weight: bold;
}

#tabela .tabulator-row:nth-child(even) {
  background-color: #aaddff;
}

#tabela .tabulator-row:nth-child(odd) {
  background-color: #ffffff;
}

#tabela .tabulator-page.active {
  color: #1093EB;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #1093EB;
  color: #fff;
  padding: 8px;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Estilos responsivos */
@media (max-width: 767px) {
  .container {
      flex-direction: column;
      align-items: center;
  }
  
  .left-panel,
  .right-panel {
      width: 100%;
  }

  .left-panel #tabela {
      width: 90%;
  }
}
